<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Kullanıcı Adı</th>
        <th scope="col">İsmi</th>
        <th scope="col">İşlem</th>
        <th scope="col">İşlem</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td><p th:text="${product.productName}"> Name </p></td>
        <td><p th:text="${product.category.categoryName}"> Name </p></td>
        <td>
            <th:block th:each="storage : ${product.photos}">
                <img th:src="@{'/uploads/'+ ${storage.directory}}" />
            </th:block>
        </td>
        <td>
            <button>X</button>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>