<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/_layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <h1 class="h3 mb-2 text-gray-800">Ürünler</h1>
<div class="row">
    <div class="col-lg-12">
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ürün Adı</th>
        <th scope="col">Kategori</th>
        <th scope="col">Açıklama</th>
        <th scope="col">Kalan</th>
        <th scope="col">Resim</th>
        <th scope="col">İşlem</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products.content}">
        <td><p th:text="${product.id}"> Id </p></td>
        <td><p th:text="${product.productName}"> Name </p></td>
        <td><p th:text="${product.category.categoryName}"> Groupname </p></td>
        <td><p th:text="${product.description}"> Description </p></td>
        <td><p th:text="${product.quantity}"> Quantity </p></td>
        <td><img width="40" th:src="@{'/uploads/'+ ${product.photo}}" /></td>
        <td><a th:href="@{/admin/product/update/{productId} (productId=${product.id})}">Düzenle</a> </td>
    </tr>
    </tbody>
</table>

        <ul th:if="${products.totalPages > 0}" class="pagination justify-content-end">
            <li class="page-item" th:classappend="${products.number+1 == 1 || products.number == null} ? disabled">
                <a class="page-link" th:href="@{/admin/product/(page=${products.number})}" tabindex="-1" aria-disabled="true">Önceki</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${pageNumbers}" th:classappend="${pageNumber==products.number + 1} ? active">
                <a class="page-link" th:href="@{/admin/product/(page=${pageNumber})}"
                   th:text="${pageNumber}"></a>
            </li>
            <li class="page-item" th:classappend="${products.number+1 == products.totalPages} ? disabled">
                <a class="page-link" th:href="@{/admin/product/(page=${products.number+2})}">Sonraki</a>
            </li>
        </ul>
    </div>
</div>
</div>
</body>
</html>