<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
<div class="row">
    <div class="col-lg-12">
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ürün Adı</th>
        <th scope="col">Kategori</th>
        <th scope="col">Açıklama</th>
        <th scope="col">Kalan</th>
        <th scope="col">Resim</th>
        <th scope="col">İşlem</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td><p th:text="${product.id}"> Id </p></td>
        <td><p th:text="${product.productName}"> Name </p></td>
        <td><p th:text="${product.category.categoryName}"> Groupname </p></td>
        <td><p th:text="${product.description}"> Description </p></td>
        <td><p th:text="${product.quantity}"> Quantity </p></td>
        <td><img width="40" th:src="@{'/uploads/'+ ${product.photo}}" /></td>
        <td><a th:href="@{/admin/product/update/{productId} (productId=${product.id})}">Düzenle</a> </td>
    </tr>
    </tbody>
</table>
    </div>
</div>
</div>
</body>
</html>