<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="alert alert-dismissible alert-danger" th:if="${param.error}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Kullanıcı Adı veya Şifre yanlış.
    </div>
    <div class="alert alert-dismissible alert-danger" th:if="${message}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p th:text="${message}"></p>
    </div>
    <h1 class="h3 mb-3 font-weight-normal">Giris Yap</h1>
    <div class="margin-top20 text-center"><a th:href="@{/register}">Kayıt Ol</a></div>
    <form th:action="@{/login}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <label>Kullanıcı Adınız</label>
        <input type="text" name="username" class="form-control"/>
        <label>Şifreniz</label>
        <input type="password" id="password" name="password" class="form-control"/>
        <br/>
        <button class="btn btn-secondary text-center form-control" type="submit">Giriş Yap</button>
    </form>
    <div class="margin-top20 text-center"><a th:href="@{/forgot-password}">Şifremi Unuttum</a></div>
</div>
</body>
</html>